{% extends "base.html" %}
{% block content %}

<div class="container col-md-4 mt-5">
<div class="card auth-card p-4">

<h3 class="text-center mb-3">{{ t('login') }}</h3>

<form method="POST" action="{{ url_for('auth.login') }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

<label>{{ t('login') }}</label>
<input type="text" name="username" class="form-control mb-3" required>

<label>{{ t('Password') }}</label>
<input type="password" name="password" class="form-control mb-3" required>

<button class="btn btn-primary w-100">{{ t('login') }}</button>
</form>

</div>
</div>

{% endblock %}