{% extends "base.html" %}
{% block content %}

<section class="page-section mt-5">
<div class="container col-md-4">
    <div class="card p-4 shadow">
        <h3 class="text-center mb-3">Login</h3>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('auth.login') }}">
            <label>Username</label>
            <input type="text" name="username" class="form-control mb-3" required>

            <label>Password</label>
            <input type="password" name="password" class="form-control mb-3" required>

            <button class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
</section>

{% endblock %}
