{% extends "base.html" %}
{% block content %}

<div class="container col-md-4 mt-5">
    <div class="card p-4 shadow">

        <h2 class="text-center mb-4">Create Account</h2>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('auth.register') }}" method="POST">
            
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input name="username" type="text" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input name="password" type="password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input name="confirm" type="password" class="form-control" required>
            </div>

            <button class="btn btn-success w-100">Register</button>

        </form>

    </div>
</div>

{% endblock %}
