{% extends "base.html" %}
{% block content %}

<div class="container col-md-4 mt-5">
<div class="card auth-card p-4">

<h2 class="text-center mb-4 gold-text fw-bold">{{ t('register') }}</h2>

<form action="{{ url_for('auth.register') }}" method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

<label>{{ t('username') }}</label>
<input name="username" class="form-control mb-3" required>

<label>{{ t('password') }}</label>
<input name="password" type="password" class="form-control mb-3" required>

<label>{{ t('confirm_password') }}</label>
<input name="confirm_password" type="password" class="form-control mb-3" required>

<button class="btn btn-success w-100">{{ t('register') }}</button>

</form>

</div>
</div>

{% endblock %}